<ion-header translucent="true">
  <ion-toolbar background-color="black">
    <ion-title style="margin:10px"><h1 style="font-weight: bold; margin-bottom:15px">Vos comptes</h1></ion-title>
    <ion-icon name="home" slot="end" style="margin-right: 10px; padding-top: 5px; font-size: 20px;" routerLink="/home"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-buttons>
    <ion-button shape="round" color="primary" routerLink="/compte">Ajouter un compte</ion-button>
    <ion-button shape="round" color="secondary">Editer un compte</ion-button>

  </ion-buttons>
 <div id="depenses" class="liste">
      <ion-button class="adddepense" color="success" expand="block" style="text-align: center;" routerLink="/add-depense">Ajouter une dépense</ion-button>
      <ion-card color="light" class="liste-depenses">
        <div *ngFor="item of itemse">
          <div *ngIf="item.userId  == this.service.getUser().id">
          <div *ngIf="item.id  == item.id">
            <ion-card id="ionCard" style="display: flex; flex-direction: column;">

              <ion-card-content id="details" >
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="6" >
                      <div class="flex_div">
  
                        <div class="details">
                          <ion-label class="bold_lbl"><strong>Nom:</strong></ion-label>
                          <ion-label class="small_lbl">&nbsp;{{item.nom}} €</ion-label>
                        </div>
                      </div>
                    </ion-col>
        
      
  
        
                    <ion-col size="6" >
                      <div class="flex_div">
                        
                        <div class="details" style="display: flex;">
                          <ion-label class="bold_lbl"><strong>Descrccciption:</strong>  </ion-label>
                          <ion-label class="small_lbl">&nbsp; {{item.description}}</ion-label>
                        </div>
                      </div>
                    </ion-col>
  
  
        
                   
        
                  </ion-row>
                </ion-grid>
              
            </ion-card-content> 
            </ion-card> 
          
          </div>
          </div>
          
        </div>
       


      </ion-card>
      
 </div>
</ion-content>
