ion-content{
    --ion-background-color: rgb(255, 255, 255);
    ion-item{
       color: bisque;
    }
}
ion-input{
    color: #000;
    background-color: rgb(255, 255, 255);
}
ion-label{
    color: rgb(255, 255, 255);
}
.form{
  height: 1000px;
}
